<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>刀剣乱舞</title>
		<link rel="stylesheet" href="style.css" >
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	</head>
	
	<body>
		<h1>刀剣乱舞　キャラ</h1>
		<div id="app">
			<h3>一人称</h3>
    			<label><input type="checkbox" v-model="A1">俺</label>
				<label><input type="checkbox" v-model="A2">僕</label>
				<label><input type="checkbox" v-model="A3">私</label>
				<label><input type="checkbox" v-model="A4">その他</label>
            <table>
                <thead>
                    <th v-for="item in header">{{ item }}</th>
                    </thead>
                <tbody>
                    <tr v-for="line in A1List" v-if="A1">
                        <td v-for="item in line">{{ item }}</td>
                    </tr>

                    <tr v-for="line in A2List" v-if="A2">
                        <td v-for="item in line">{{ item }}</td>
                    </tr>
    
                    <tr v-for="line in A3List" v-if="A3">
                        <td v-for="item in line">{{ item }}</td>
                    </tr>
    
                    <tr v-for="line in A4List" v-if="A4">
                        <td v-for="item in line">{{ item }}</td>
                    </tr>
                </tbody>
            </table>

			<h3>主の呼び方</h3>
                <label><input type="checkbox" v-model="B1">主</label>
				<label><input type="checkbox" v-model="B2">主様</label>
				<label><input type="checkbox" v-model="B3">主殿</label>
				<label><input type="checkbox" v-model="B4">主さん</label>
                <label><input type="checkbox" v-model="B5">あんた</label>
                <label><input type="checkbox" v-model="B6">あなた</label>
                <label><input type="checkbox" v-model="B7">大将</label>
                <label><input type="checkbox" v-model="B8">きみ</label>
				<label><input type="checkbox" v-model="B9">その他</label>
                <label><input type="checkbox" v-model="B10">不明</label>
            <table>
                    <thead>
                    <th v-for="item in header">{{ item }}</th>
                    </thead>
                <tbody>
                    <tr v-for="line in B1List" v-if="B1">
                        <td v-for="item in line">{{ item }}</td>
                    </tr>
    
                    <tr v-for="line in B2List" v-if="B2">
                        <td v-for="item in line">{{ item }}</td>
                    </tr>
    
                    <tr v-for="line in B3List" v-if="B3">
                        <td v-for="item in line">{{ item }}</td>
                    </tr>
    
                    <tr v-for="line in B4List" v-if="B4">
                        <td v-for="item in line">{{ item }}</td>
                    </tr>

                    <tr v-for="line in B5List" v-if="B5">
                        <td v-for="item in line">{{ item }}</td>
                    </tr>

                    <tr v-for="line in B6List" v-if="B6">
                        <td v-for="item in line">{{ item }}</td>
                    </tr>

                    <tr v-for="line in B7List" v-if="B7">
                        <td v-for="item in line">{{ item }}</td>
                    </tr>

                    <tr v-for="line in B8List" v-if="B8">
                        <td v-for="item in line">{{ item }}</td>
                    </tr>

                    <tr v-for="line in B9List" v-if="B9">
                        <td v-for="item in line">{{ item }}</td>
                    </tr>

                    <tr v-for="line in B10List" v-if="B10">
                        <td v-for="item in line">{{ item }}</td>
                    </tr>
                </tbody>
            </table>

            <h3>刀派</h3>
                <label><input type="checkbox" v-model="C1">三条</label>
				<label><input type="checkbox" v-model="C2">三池</label>
				<label><input type="checkbox" v-model="C3">青江</label>
				<label><input type="checkbox" v-model="C4">粟田口</label>
				<label><input type="checkbox" v-model="C5">古備前</label>
				<label><input type="checkbox" v-model="C6">来派</label>
				<label><input type="checkbox" v-model="C7">村正</label>
                <label><input type="checkbox" v-model="C8">貞宗</label>
                <label><input type="checkbox" v-model="C9">長船</label>
                <label><input type="checkbox" v-model="C10">左文字</label>
                <label><input type="checkbox" v-model="C11">兼定</label>
                <label><input type="checkbox" v-model="C12">堀川</label>
                <label><input type="checkbox" v-model="C13">虎徹</label>
                <label><input type="checkbox" v-model="C14">江</label>
                <label><input type="checkbox" v-model="C15">正宗</label>
                <label><input type="checkbox" v-model="C16">福岡一文字</label>
                <label><input type="checkbox" v-model="C17">豊後国行平</label>
                <label><input type="checkbox" v-model="C18">なし</label>
                
        <table>
				<thead>
				<th v-for="item in header">{{ item }}</th>
				</thead>
			<tbody>
				<tr v-for="line in C1List" v-if="C1">
					<td v-for="item in line">{{ item }}</td>
				</tr>

				<tr v-for="line in C2List" v-if="C2">
					<td v-for="item in line">{{ item }}</td>
				</tr>

				<tr v-for="line in C3List" v-if="C3">
					<td v-for="item in line">{{ item }}</td>
				</tr>

				<tr v-for="line in C4List" v-if="C4">
					<td v-for="item in line">{{ item }}</td>
				</tr>

                <tr v-for="line in C5List" v-if="C5">
					<td v-for="item in line">{{ item }}</td>
				</tr>

                <tr v-for="line in C6List" v-if="C6">
					<td v-for="item in line">{{ item }}</td>
				</tr>

                <tr v-for="line in C7List" v-if="C7">
					<td v-for="item in line">{{ item }}</td>
				</tr>

                <tr v-for="line in C8List" v-if="C8">
					<td v-for="item in line">{{ item }}</td>
				</tr>
                
                <tr v-for="line in C9List" v-if="C9">
					<td v-for="item in line">{{ item }}</td>
				</tr>

                <tr v-for="line in C10List" v-if="C10">
					<td v-for="item in line">{{ item }}</td>
				</tr>

                <tr v-for="line in C11List" v-if="C11">
					<td v-for="item in line">{{ item }}</td>
				</tr>

                <tr v-for="line in C12List" v-if="C12">
					<td v-for="item in line">{{ item }}</td>
				</tr>

                <tr v-for="line in C13List" v-if="C13">
					<td v-for="item in line">{{ item }}</td>
				</tr>

                <tr v-for="line in C14List" v-if="C14">
					<td v-for="item in line">{{ item }}</td>
				</tr>

                <tr v-for="line in C15List" v-if="C15">
					<td v-for="item in line">{{ item }}</td>
				</tr>
                <tr v-for="line in C16List" v-if="C16">
					<td v-for="item in line">{{ item }}</td>
				</tr>
                <tr v-for="line in C17List" v-if="C17">
					<td v-for="item in line">{{ item }}</td>
				</tr>
                <tr v-for="line in C18List" v-if="C18">
					<td v-for="item in line">{{ item }}</td>
				</tr>
			</tbody>
		</table>
		</div>

		<script>
			new Vue({
				    el: '#app',
				    data: {
                        A1: false,
                        A2: false,
                        A3: false,
                        A4: false,
                        
                        B1: false,
                        B2: false,
                        B3: false,
                        B4: false,
                        B5: false,
                        B6: false,
                        B7: false,
                        B8: false,
                        B9: false,
                        B10: false,

                        C1: false,
                        C2: false,
                        C3: false,
                        C4: false,
                        C5: false,
                        C6: false,
                        C7: false,
                        C8: false,
                        C9: false,
                        C10: false,
                        C11: false,
                        C12: false,
                        C13: false,
                        C14: false,
                        C15: false,
                        C16: false,
                        C17: false,
                        C18: false,

					    header: [' No. ', '　　名前　　', '一人称', '主の呼び方', '武器種', '刀派'],
					    A1List: [
                            ['003', '三日月宗近', '俺', '主', '太刀', '三条'],
                            ['009', '岩融', '俺', '主', '太刀', '三条'],
                            ['013', '大典太光世', '俺', 'あんた', '太刀', '三池'],
                            ['015', 'ソハヤノツルキ', '俺', '主', '太刀', '三池'],
                            ['021', '鬼丸国綱', 'おれ', 'あんた', '太刀', '粟田口'],
                            ['026', '一期一振(極)', '私、(極)俺', '主', '太刀', '粟田口'],
                            ['027', '鯰尾藤四郎', '俺', '不明、(極)主', '脇差', '粟田口'],
                            ['029', '骨喰藤四郎', '俺', '不明、(極)あんた、主殿', '脇差', '粟田口'],
                            ['033', '厚藤四郎', 'オレ', '大将', '短刀', '粟田口'],
                            ['035', '後藤藤四郎', '俺', '大将', '短刀', '粟田口'],
                            ['037', '信濃藤四郎', '俺', '大将', '短刀', '粟田口'],
                            ['043', '博多藤四郎', '俺', '不明、(極)主人', '短刀', '粟田口'],
                            ['049', '薬研藤四郎', '俺', '大将', '短刀', '粟田口'],
                            ['051', '包丁藤四郎', '俺', '不明、(極)主', '短刀', '粟田口'],
                            ['053', '大包平', '俺', 'お前', '太刀', '古備前'],
                            ['055', '鶯丸', '俺', '不明、(極)主', '太刀', '古備前'],
                            ['059', '蛍丸', '俺', '主さん', '大太刀', '来派'],
                            ['061', '愛染国俊', 'オレ', '主さん', '短刀', '来派'],
                            ['066', '蜻蛉切(極)', '俺', '主', '槍', '村正'],
                            ['069', '太鼓鐘貞宗', '俺', '主', '短刀', '貞宗'],
                            ['075', '大般若長光', '俺', 'あんた', '太刀', '長船'],
                            ['077', '小竜景光', '俺', 'キミ', '太刀', '長船'],
                            ['085', '加州清光', '俺', '不明、(極)あんた、(主)', '打刀', 'なし'],
                            ['091', '和泉守兼定', 'オレ', 'あんた、主殿', '打刀', '兼定'],
                            ['095', '山姥切国広', '俺', 'あんた、主', '打刀', '堀川'],
                            ['101', '蜂須賀虎徹', '俺', '主、あなた', '打刀', '虎徹'],
                            ['103', '浦島虎徹', '俺', '主さん', '脇差', '虎徹'],
                            ['105', '長曾根虎徹', 'オレ', '主、(あんた)', '打刀', '虎徹'],
                            ['112', '膝丸', '俺', '君、主', '太刀', 'なし'],
                            ['116', '大倶利伽羅', '俺', 'あんた、', '打刀', 'なし'],
                            ['118', 'へし切長谷部', '俺', '主、貴方', '打刀', 'なし'],
                            ['120', '不動行光', '俺', 'あんた、(極)主', '短刀', 'なし'],
                            ['122', '獅子王', '俺', '主', '太刀', 'なし'],
                            ['128', '同田貫正国', '俺', 'あんた、(主)', '打刀', 'なし'],
                            ['130', '鶴丸国永', '俺', 'きみ、(主)', '太刀', 'なし'],
                            ['136', '日本号', '俺', 'あんた、主', '槍', 'なし'],
                            ['138', '御手杵', '俺', 'あんた、主', '槍', 'なし'],
                            ['140', '巴形薙刀', '俺', '主', '薙刀', 'なし'],
                            ['152', '静形薙刀', '俺', '主', '薙刀', 'なし'],
                            ['154', '南泉一文字', 'オレ', '主', '打刀', '福岡一文字'],
                            ['156', '千代金丸', '俺', '主', '太刀', 'なし'],
                            ['158', '山姥切長義', '俺', '不明', '打刀', 'なし'],
                            ['160', '豊前江', '俺', '不明', '打刀', '江'],
                            ['168', '肥前忠広', 'おれ', 'おまえ', '脇差', 'なし'],
                            ['170', '北谷菜切', 'おれ', '主', '短刀', 'なし'],
                            ['186', '治金丸', 'オレ', '主', '脇差', 'なし'],
                            ['188', '日光一文字', '俺', '主', '太刀', '福岡一文字'],
                            ['194', '大千鳥十文字槍', '俺', 'お前、あんた', '槍', 'なし'],
                            ['200', '村雲江', '俺', '不明', '打刀', '江'],
                        ],
                        A2List: [
                            ['011', '今剣', 'ぼく', 'あるじさま', '短刀', '三条'],
                            ['019', 'にっかり青江', '僕', '君', '脇差', '青江'],
                            ['031', '平野藤四郎', '僕', '主さま、(極)主', '短刀', '粟田口'],
                            ['039', '前田藤四郎', '僕', '主君', '短刀', '粟田口'],
                            ['041', '秋田藤四郎', '僕', '主君', '短刀', '粟田口'],
                            ['045', '乱藤四郎', 'ボク', 'あるじさん', '短刀', '粟田口'],
                            ['047', '五虎退', '僕', 'あるじさま', '短刀', '粟田口'],
                            ['067', '物吉貞宗', 'ボク', '主様', '脇差', '貞宗'],
                            ['071', '亀甲貞宗', 'ぼく', 'ご主人様、主', '打刀', '貞宗'],
                            ['073', '燭台切光忠', '僕', '君、(主)', '打刀', '貞宗'],
                            ['081', '宗三左文字', '僕', '貴方、(主)', '打刀', '左文字'],
                            ['083', '小夜左文字', '僕', 'あなた、(あるじさま、主)', '短刀', '左文字'],
                            ['087', '大和守安定', '僕', '不明、(極)あなた、(主)', '打刀', 'なし'],
                            ['089', '歌仙兼定', '僕', 'きみ(主)', '打刀', '兼定'],
                            ['099', '堀川国広', '僕', '主さん', '脇差', '堀川'],
                            ['107', '髭切', '僕', '君、(主)', '太刀', 'なし'],
                            ['142', '毛利藤四郎', '僕', '主さま', '短刀', '粟田口'],
                            ['146', '謙信景光', 'ぼく', 'きみ、(極)あるじ', '短刀', '長船'],
                            ['150', '日向政宗', '僕', '主', '短刀', '正宗'],
                            ['166', '南海太郎朝尊', '僕', '君', '打刀', 'なし'],
                            ['172', '桑名江', '僕', '不明', '打刀', '江'],
                            ['176', '源清麿', '僕', '主、君', '打刀', 'なし'],
                            ['178', '松井江', '僕', '貴方', '打刀', '江'],
                            ['196', '泛塵', '僕', 'お前', '脇差', 'なし'],
                            ['198', '一文字則宗', '僕', 'お前さん', '太刀', '福岡一文字'],
                        ],
                        A3List: [
                            ['005', '小狐丸', '私', 'ぬしさま', '太刀', '三条'],
                            ['007', '石切丸', '私', '不明、(極)主', '大太刀', '三条'],
                            ['017', '数珠丸恒次', '私', '不明', '太刀', '青江'],
                            ['025', '一期一振', '私、(俺)', '主', '太刀', '粟田口'],
                            ['058', '明石国行(極)', '自分、(私)', '主はん、主', '太刀', '来派'],
                            ['063', '千子村正', 'ワタシ', 'アナタ、(主)', '打刀', '村正'],
                            ['079', '江雪左文字', '私', '貴方、(主)', '太刀', '左文字'],
                            ['132', '太郎太刀', '私', '主、貴方', '大太刀', 'なし'],
                            ['134', '次郎太刀', 'アタシ', 'アンタ、(主)', '大太刀', 'なし'],
                            ['144', '篭手切江', '私', '主', '脇差', '江'],
                            ['148', '小豆長光', 'わたし', 'きみ、(あるじ)', '太刀', '長船'],
                            ['174', '水心子正秀', '私', '我が主、貴方', '打刀', 'なし'],
                            ['180', '山鳥毛', '私', '小鳥、君', '太刀', '福岡一文字'],
                            ['192', '五月雨江', '私', '頭', '打刀', '江'],
                        ],
                        A4List: [
                            ['023', '鳴狐', '鳴狐、(お供)わたくし', 'あるじ、(お供)あるじどの', '打刀', '粟田口'],
                            ['057', '明石国行', '自分', '主はん', '太刀', '来派'],
                            ['065', '蜻蛉切', '自分', '主', '槍', '村正'],
                            ['093', '陸奥守吉行', 'わし', 'おんし、おまさん、おんしゃあ、主', '打刀', 'なし'],
                            ['097', '山伏国広', '拙僧', '主殿', '太刀', '堀川'],
                            ['124', '小烏丸', '我、父', '主', '太刀', 'なし'],
                            ['162', '袮々切丸', '我', '主', '大太刀', 'なし'],
                            ['164', '白山吉光', 'わたくし', 'あるじさま', '剣', '粟田口'],
                            ['182', '古今伝授の太刀', 'わたくし', '主さま', '太刀', '豊後国行平'],
                            ['184', '地藏平行', '吾', '主', '打刀', '豊後国行平'],
                            ['190', '太閤左文字', '儂', '主', '短刀', '左文字'],
                        ],

                        B1List: [
                            ['003', '三日月宗近', '俺', '主', '太刀', '三条'],
                            ['008', '石切丸(極)', '私', '主', '大太刀', '三条'],
                            ['009', '岩融', '俺', '主', '太刀', '三条'],
                            ['015', 'ソハヤノツルキ', '俺', '主', '太刀', '三池'],
                            ['019', 'にっかり青江', '僕', '君(主)', '脇差', '青江'],
                            ['023', '鳴狐', '鳴狐、(お供)わたくし', 'あるじ、(お供)あるじどの', '打刀', '粟田口'],
                            ['025', '一期一振', '私、(俺)', '主', '太刀', '粟田口'],
                            ['028', '鯰尾藤四郎(極)', '俺', '主', '脇差', '粟田口'],
                            ['032', '平野藤四郎(極)', '僕', '主', '短刀', '粟田口'],
                            ['052', '包丁藤四郎(極)', '俺', '主', '短刀', '粟田口'],
                            ['056', '鶯丸(極)', '俺', '主', '太刀', '古備前'],
                            ['065', '蜻蛉切', '自分', '主', '槍', '村正'],
                            ['069', '太鼓鐘貞宗', '俺', '主', '短刀', '貞宗'],
                            ['101', '蜂須賀虎徹', '俺', '主、あなた', '打刀', '虎徹'],
                            ['105', '長曾根虎徹', 'オレ', '主、(あんた)', '打刀', '虎徹'],
                            ['112', '膝丸', '俺', '君、主', '太刀', 'なし'],
                            ['118', 'へし切長谷部', '俺', '主、(極)貴方', '打刀', 'なし'],
                            ['121', '不動行光(極)', '俺', '主', '短刀', 'なし'],
                            ['122', '獅子王', '俺', '主', '太刀', 'なし'],
                            ['124', '小烏丸', '我、父', '主', '太刀', 'なし'],
                            ['132', '太郎太刀', '私', '主、貴方', '大太刀', 'なし'],
                            ['140', '巴形薙刀', '俺', '主', '薙刀', 'なし'],
                            ['144', '篭手切江', '私', '主', '脇差', '江'],
                            ['147', '謙信景光(極)', 'ぼく', 'あるじ', '短刀', '長船'],
                            ['150', '日向政宗', '僕', '主', '短刀', '正宗'],
                            ['152', '静形薙刀', '俺', '主', '薙刀', 'なし'],
                            ['154', '南泉一文字', 'オレ', '主', '打刀', '福岡一文字'],
                            ['156', '千代金丸', '俺', '主', '太刀', 'なし'],
                            ['162', '袮々切丸', '我', '主', '大太刀', 'なし'],
                            ['170', '北谷菜切', 'おれ', '主', '短刀', 'なし'],
                            ['176', '源清麿', '僕', '主、君', '打刀', 'なし'],
                            ['184', '地藏平行', '吾', '主', '打刀', '豊後国行平'],
                            ['186', '治金丸', 'オレ', '主', '脇差', 'なし'],
                            ['188', '日光一文字', '俺', '主', '太刀', '福岡一文字'],
                            ['190', '太閤左文字', '儂', '主', '短刀', '左文字'],
                        ],
                        B2List: [
                            ['005', '小狐丸', '私', 'ぬしさま', '太刀', '三条'],
                            ['011', '今剣', 'ぼく', 'あるじさま', '短刀', '三条'],
                            ['031', '平野藤四郎', '僕', '主さま、(極)主', '短刀', '粟田口'],
                            ['047', '五虎退', '僕', 'あるじさま', '短刀', '粟田口'],
                            ['067', '物吉貞宗', 'ボク', '主様', '脇差', '貞宗'],
                            ['142', '毛利藤四郎', '僕', '主さま', '短刀', '粟田口'],
                            ['164', '白山吉光', 'わたくし', 'あるじさま', '剣', '粟田口'],
                            ['182', '古今伝授の太刀', 'わたくし', '主さま', '太刀', '豊後国行平'],
                        ],
                        B3List: [
                            ['023', '鳴狐', '鳴狐、(お供)わたくし', 'あるじ、(お供)あるじどの', '打刀', '粟田口'],
                            ['030', '骨喰藤四郎(極)', '俺', 'あんた、主殿', '脇差', '粟田口'],
                            ['097', '山伏国広', '拙僧', '主殿', '太刀', '堀川'],
                        ],
                        B4List: [
                            ['045', '乱藤四郎', 'ボク', 'あるじさん', '短刀', '粟田口'],
                            ['059', '蛍丸', '俺', '主さん', '大太刀', '来派'],
                            ['061', '愛染国俊', 'オレ', '主さん', '短刀', '来派'],
                            ['099', '堀川国広', '僕', '主さん', '脇差', '堀川'],
                            ['103', '浦島虎徹', '俺', '主さん', '脇差', '虎徹'],
                        ],
                        B5List: [
                            ['013', '大典太光世', '俺', 'あんた', '太刀', '三池'],
                            ['021', '鬼丸国綱', 'おれ', 'あんた', '太刀', '粟田口'],
                            ['030', '骨喰藤四郎(極)', '俺', 'あんた、主殿', '脇差', '粟田口'],
                            ['075', '大般若長光', '俺', 'あんた', '太刀', '長船'],
                            ['086', '加州清光(極)', '俺', 'あんた、(主)', '打刀', 'なし'],
                            ['091', '和泉守兼定', 'オレ', 'あんた、主殿', '打刀', '兼定'],
                            ['095', '山姥切国広', '俺', 'あんた、主', '打刀', '堀川'],
                            ['116', '大倶利伽羅', '俺', 'あんた、', '打刀', 'なし'],
                            ['120', '不動行光', '俺', 'あんた、(極)主', '短刀', 'なし'],
                            ['128', '同田貫正国', '俺', 'あんた、(主)', '打刀', 'なし'],
                            ['134', '次郎太刀', 'アタシ', 'アンタ、(主)', '大太刀', 'なし'],
                            ['136', '日本号', '俺', 'あんた、主', '槍', 'なし'],
                            ['138', '御手杵', '俺', 'あんた、主', '槍', 'なし'],
                            ['194', '大千鳥十文字槍', '俺', 'お前、あんた', '槍', 'なし'],
                        ],
                        B6List: [
                            ['063', '千子村正', 'ワタシ', 'アナタ、(主)', '打刀', '村正'],
                            ['079', '江雪左文字', '私', '貴方、(主)', '太刀', '左文字'],
                            ['081', '宗三左文字', '僕', '貴方、(主)', '打刀', '左文字'],
                            ['083', '小夜左文字', '僕', 'あなた、(あるじさま、主)', '短刀', '左文字'],
                            ['088', '大和守安定(極)', '僕', 'あなた、(主)', '打刀', 'なし'],
                            ['101', '蜂須賀虎徹', '俺', '主、あなた', '打刀', '虎徹'],
                            ['118', 'へし切長谷部', '俺', '主、(極)貴方', '打刀', 'なし'],
                            ['132', '太郎太刀', '私', '主、貴方', '大太刀', 'なし'],
                            ['178', '松井江', '僕', '貴方', '打刀', '江'],
                        ],
                        B7List: [
                            ['033', '厚藤四郎', 'オレ', '大将', '短刀', '粟田口'],
                            ['035', '後藤藤四郎', '俺', '大将', '短刀', '粟田口'],
                            ['037', '信濃藤四郎', '俺', '大将', '短刀', '粟田口'],
                            ['049', '薬研藤四郎', '俺', '大将', '短刀', '粟田口'],
                        ],
                        B8List: [
                            ['073', '燭台切光忠', '僕', '君、(主)', '打刀', '貞宗'],
                            ['077', '小竜景光', '俺', 'キミ', '太刀', '長船'],
                            ['089', '歌仙兼定', '僕', 'きみ、(主)', '打刀', '兼定'],
                            ['107', '髭切', '僕', '君、(主)', '太刀', 'なし'],
                            ['112', '膝丸', '俺', '君、主', '太刀', 'なし'],
                            ['130', '鶴丸国永', '俺', 'きみ、(主)', '太刀', 'なし'],
                            ['146', '謙信景光', 'ぼく', 'きみ、(極)あるじ', '短刀', '長船'],
                            ['148', '小豆長光', 'わたし', 'きみ、(あるじ)', '太刀', '長船'],
                            ['166', '南海太郎朝尊', '僕', '君', '打刀', 'なし'],
                            ['176', '源清麿', '僕', '主、君', '打刀', 'なし'],
                            ['180', '山鳥毛', '私', '小鳥、君', '太刀', '福岡一文字'],
                        ],
                        B9List: [
                            ['039', '前田藤四郎', '僕', '主君', '短刀', '粟田口'],
                            ['041', '秋田藤四郎', '僕', '主君', '短刀', '粟田口'],
                            ['053', '大包平', '俺', 'お前', '太刀', '古備前'],
                            ['057', '明石国行', '自分', '主はん', '太刀', '来派'],
                            ['071', '亀甲貞宗', 'ぼく', 'ご主人様、(主)', '打刀', '貞宗'],
                            ['091', '和泉守兼定', 'オレ', '主殿、(極)あんた', '打刀', '兼定'],
                            ['093', '陸奥守吉行', 'わし', 'おんし、おまさん、おんしゃあ、主', '打刀', 'なし'],
                            ['168', '肥前忠広', 'おれ', 'おまえ', '脇差', 'なし'],
                            ['174', '水心子正秀', '私', '我が主、貴方', '打刀', 'なし'],
                            ['180', '山鳥毛', '私', '小鳥、君', '太刀', '福岡一文字'],
                            ['192', '五月雨江', '私', '頭', '打刀', '江'],
                            ['194', '大千鳥十文字槍', '俺', 'お前、あんた', '槍', 'なし'],
                            ['196', '泛塵', '僕', 'お前', '脇差', 'なし'],
                            ['198', '一文字則宗', '僕', 'お前さん', '太刀', '福岡一文字'],
                        ],
                        B10List: [
                            ['007', '石切丸', '私', '不明、(極)主、君', '大太刀', '三条'],
                            ['017', '数珠丸恒次', '私', '不明', '太刀', '青江'],
                            ['027', '鯰尾藤四郎', '俺', '不明、(極)主', '脇差', '粟田口'],
                            ['029', '骨喰藤四郎', '俺', '不明、(極)あんた、主殿', '脇差', '粟田口'],
                            ['043', '博多藤四郎', '俺', '不明、(主人)', '短刀', '粟田口'],
                            ['051', '包丁藤四郎', '俺', '不明、(極)主', '短刀', '粟田口'],
                            ['055', '鶯丸', '俺', '不明、(極)主', '太刀', '古備前'],
                            ['085', '加州清光', '俺', '不明、(極)あんた、(主)', '打刀', 'なし'],
                            ['087', '大和守安定', '僕', '不明、(極)あなた、(主)', '打刀', 'なし'],
                            ['158', '山姥切長義', '俺', '不明', '打刀', 'なし'],
                            ['160', '豊前江', '俺', '不明', '打刀', '江'],
                            ['172', '桑名江', '僕', '不明', '打刀', '江'],
                            ['200', '村雲江', '俺', '不明', '打刀', '江'],
                        ],

                        C1List: [
                            ['003', '三日月宗近', '俺', '主', '太刀', '三条'],
                            ['005', '小狐丸', '私', 'ぬしさま', '太刀', '三条'],
                            ['007', '石切丸', '私', '不明、(極)主', '大太刀', '三条'],
                            ['009', '岩融', '俺', '主', '太刀', '三条'],
                            ['011', '今剣', 'ぼく', 'あるじさま', '短刀', '三条'],
                        ],
                        C2List: [
                            ['013', '大典太光世', '俺', 'あんた', '太刀', '三池'],
                            ['015', 'ソハヤノツルキ', '俺', '主', '太刀', '三池'],
                        ],
                        C3List: [
                            ['017', '数珠丸恒次', '私', '不明', '太刀', '青江'],
                            ['019', 'にっかり青江', '僕', '君', '脇差', '青江'],
                        ],
                        C4List: [
                            ['021', '鬼丸国綱', 'おれ', 'あんた', '太刀', '粟田口'],
                            ['023', '鳴狐', '鳴狐、(お供)わたくし', 'あるじ、(お供)あるじどの', '打刀', '粟田口'],
                            ['025', '一期一振', '私、(俺)', '主', '太刀', '粟田口'],
                            ['027', '鯰尾藤四郎', '俺', '不明、(極)主', '脇差', '粟田口'],
                            ['029', '骨喰藤四郎', '俺', '不明、(極)あんた、主殿', '脇差', '粟田口'],
                            ['031', '平野藤四郎', '僕', '主さま、(極)主', '短刀', '粟田口'],
                            ['033', '厚藤四郎', 'オレ', '大将', '短刀', '粟田口'],
                            ['035', '後藤藤四郎', '俺', '大将', '短刀', '粟田口'],
                            ['037', '信濃藤四郎', '俺', '大将', '短刀', '粟田口'],
                            ['039', '前田藤四郎', '僕', '主君', '短刀', '粟田口'],
                            ['041', '秋田藤四郎', '僕', '主君', '短刀', '粟田口'],
                            ['043', '博多藤四郎', '俺', '不明、(主人)', '短刀', '粟田口'],
                            ['045', '乱藤四郎', 'ボク', 'あるじさん', '短刀', '粟田口'],
                            ['047', '五虎退', '僕', 'あるじさま', '短刀', '粟田口'],
                            ['049', '薬研藤四郎', '俺', '大将', '短刀', '粟田口'],
                            ['051', '包丁藤四郎', '俺', '不明、(極)主', '短刀', '粟田口'],
                            ['142', '毛利藤四郎', '僕', '主さま', '短刀', '粟田口'],
                            ['164', '白山吉光', 'わたくし', 'あるじさま', '剣', '粟田口'],
                        ],
                        C5List: [
                            ['053', '大包平', '俺', 'お前', '太刀', '古備前'],
                            ['055', '鶯丸', '俺', '不明、(極)主', '太刀', '古備前'],
                        ],
                        C6List: [
                            ['057', '明石国行', '自分', '主はん', '太刀', '来派'],
                            ['059', '蛍丸', '俺', '主さん', '大太刀', '来派'],
                            ['061', '愛染国俊', 'オレ', '主さん', '短刀', '来派'],
                        ],
                        C7List: [
                            ['063', '千子村正', 'ワタシ', 'アナタ、(主)', '打刀', '村正'],
                            ['065', '蜻蛉切', '自分', '主', '槍', '村正'],
                            ['066', '蜻蛉切(極)', '俺', '主', '槍', '村正'],
                        ],
                        C8List: [
                            ['067', '物吉貞宗', 'ボク', '主様', '脇差', '貞宗'],
                            ['069', '太鼓鐘貞宗', '俺', '主', '短刀', '貞宗'],
                            ['071', '亀甲貞宗', 'ぼく', 'ご主人様、(主)', '打刀', '貞宗'],
                            ['073', '燭台切光忠', '僕', '君、(主)', '打刀', '貞宗'],
                        ],
                        C9List: [
                            ['075', '大般若長光', '俺', 'あんた', '太刀', '長船'],
                            ['077', '小竜景光', '俺', 'キミ', '太刀', '長船'],
                            ['146', '謙信景光', 'ぼく', 'きみ、(極)あるじ', '短刀', '長船'],
                            ['148', '小豆長光', 'わたし', 'きみ、(あるじ)', '太刀', '長船'],
                        ],
                        C10List: [
                            ['079', '江雪左文字', '私', '貴方、(主)', '太刀', '左文字'],
                            ['081', '宗三左文字', '僕', '貴方、(主)', '打刀', '左文字'],
                            ['083', '小夜左文字', '僕', 'あなた、(あるじさま、主)', '短刀', '左文字'],
                            ['190', '太閤左文字', '儂', '主', '短刀', '左文字'],
                        ],
                        C11List: [
                            ['089', '歌仙兼定', '僕', 'きみ(主)', '打刀', '兼定'],
                            ['091', '和泉守兼定', 'オレ', 'あんた、主殿', '打刀', '兼定'],
                        ],
                        C12List: [
                            ['095', '山姥切国広', '俺', 'あんた、主', '打刀', '堀川'],
                            ['097', '山伏国広', '拙僧', '主殿', '太刀', '堀川'],
                            ['099', '堀川国広', '僕', '主さん', '脇差', '堀川'],
                        ],
                        C13List: [
                            ['101', '蜂須賀虎徹', '俺', '主、あなた', '打刀', '虎徹'],
                            ['103', '浦島虎徹', '俺', '主さん', '脇差', '虎徹'],
                            ['105', '長曾根虎徹', 'オレ', '主、(あんた)', '打刀', '虎徹'],
                        ],
                        C14List: [
                            ['144', '篭手切江', '私', '主', '脇差', '江'],
                            ['160', '豊前江', '俺', '不明', '打刀', '江'],
                            ['172', '桑名江', '僕', '不明', '打刀', '江'],
                            ['178', '松井江', '僕', '貴方', '打刀', '江'],
                            ['192', '五月雨江', '私', '頭', '打刀', '江'],
                            ['200', '村雲江', '俺', '不明', '打刀', '江'],
                        ],
                        C15List: [
                            ['150', '日向政宗', '僕', '主', '短刀', '正宗'],
                        ],
                        C16List: [
                            ['154', '南泉一文字', 'オレ', '主', '打刀', '福岡一文字'],
                            ['180', '山鳥毛', '私', '小鳥、君', '太刀', '福岡一文字'],
                            ['188', '日光一文字', '俺', '主', '太刀', '福岡一文字'],
                            ['198', '一文字則宗', '僕', 'お前さん', '太刀', '福岡一文字'],
                        ],
                        C17List: [
                            ['182', '古今伝授の太刀', 'わたくし', '主さま', '太刀', '豊後国行平'],
                            ['184', '地藏平行', '吾', '主', '打刀', '豊後国行平'],
                        ],
                        C18List: [
                            ['085', '加州清光', '俺', '不明、(極)あんた、(主)', '打刀', 'なし'],
                            ['087', '大和守安定', '僕', '不明、(極)あなた、(主)', '打刀', 'なし'],
                            ['093', '陸奥守吉行', 'わし', 'おんし、おまさん、おんしゃあ、主', '打刀', 'なし'],
                            ['107', '髭切', '僕', '君、(主)', '太刀', 'なし'],
                            ['112', '膝丸', '俺', '君、主', '太刀', 'なし'],
                            ['116', '大倶利伽羅', '俺', 'あんた、', '打刀', 'なし'],
                            ['118', 'へし切長谷部', '俺', '主、(極)貴方', '打刀', 'なし'],
                            ['120', '不動行光', '俺', 'あんた、(極)主', '短刀', 'なし'],
                            ['122', '獅子王', '俺', '主', '太刀', 'なし'],
                            ['124', '小烏丸', '我、父', '主', '太刀', 'なし'],
                            ['128', '同田貫正国', '俺', 'あんた、(主)', '打刀', 'なし'],
                            ['130', '鶴丸国永', '俺', 'きみ、(主)', '太刀', 'なし'],
                            ['132', '太郎太刀', '私', '主、貴方', '大太刀', 'なし'],
                            ['134', '次郎太刀', 'アタシ', 'アンタ、(主)', '大太刀', 'なし'],
                            ['136', '日本号', '俺', 'あんた、主', '槍', 'なし'],
                            ['138', '御手杵', '俺', 'あんた、主', '槍', 'なし'],
                            ['140', '巴形薙刀', '俺', '主', '薙刀', 'なし'],
                            ['152', '静形薙刀', '俺', '主', '薙刀', 'なし'],
                            ['156', '千代金丸', '俺', '主', '太刀', 'なし'],
                            ['158', '山姥切長義', '俺', '不明', '打刀', 'なし'],
                            ['162', '袮々切丸', '我', '主', '大太刀', 'なし'],
                            ['166', '南海太郎朝尊', '僕', '君', '打刀', 'なし'],
                            ['168', '肥前忠広', 'おれ', 'おまえ', '脇差', 'なし'],
                            ['170', '北谷菜切', 'おれ', '主', '短刀', 'なし'],
                            ['174', '水心子正秀', '私', '我が主、貴方', '打刀', 'なし'],
                            ['176', '源清麿', '僕', '主、君', '打刀', 'なし'],
                            ['186', '治金丸', 'オレ', '主', '脇差', 'なし'],
                            ['194', '大千鳥十文字槍', '俺', 'お前、あんた', '槍', 'なし'],
                            ['196', '泛塵', '僕', 'お前', '脇差', 'なし'],
                        ],      
				},
			})
		</script>
	</body>
</html>
